

body{
    border-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: rgb(255, 255, 255);
    
    

}

.box-size{

    
    justify-content: center;
    align-items: center;
    border-left: 20%;
    
}

.tittle1{
    color: rgb(110, 109, 109);
}

.tittle2{
    color: rgb(69, 69, 69);
}

p{
    color: white;
}